<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="/scss/custom.css" />
    <link rel="stylesheet" href="/css/style.css" />
 
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link active" href="/Index.html">
                            <img src="M&M_Logo.png" alt="Logo" style="height: 40px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrativo/Login.html">Administrativo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Trabajadores/Index.html">Trabajadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Clientes/Index.html">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Reporteria/index.html">Reporteria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Inventario/index.html">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Finanzas/index.html">Finanzas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Ventas/Index.html">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Control de Flujo</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="bi bi-box-arrow-in-left"></i> Logout</a></li>
                  </ul>
            </div>
        </nav>
    </header>